/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/.qmake.stash
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/Makefile
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/Makefile.Debug
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/Makefile.Release
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/Commands.exe
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/Commands.ilk
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/Commands.pdb
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/Commands.vc.pdb
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/commandsmodel.obj
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/main.obj
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/moc_commandsmodel.cpp
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/moc_commandsmodel.obj
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/moc_predefs.h
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/qrc_qml.cpp
/build-Commands-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/debug/qrc_qml.obj
